---
import BaseLayout from "~/layouts/BaseLayout.astro";

const Heading = "h2" as const;
---

<BaseLayout title="Astro" description="Astro Preact Template">
  <h1>Astro</h1>
  <Heading class="heading">Reproduction Example</Heading>
</BaseLayout>

<style>
  .heading {
    display: block;
    border-bottom: 1px solid var(--highlight);
    padding: 1rem;
    margin: 0px;
    font-size: 1.5rem;
  }
</style>
